@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bitter&display=swap');

/* !!!!! Variables !!!!! */
:root {
  --bitter-font: 'Bitter', serif;
}


/* !!!!! Global styles !!!!! */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: grid;
  grid-template-areas:
    "head head head"
    "search search search"
    "store store cart"
    "store store cart"
    "store store cart"
    "foot foot foot"
  ;
}

img {
  display: inline;
}






/* !!!!! Store section !!!!! */
#store-container {
  grid-area: store;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


/* !!!!! Cart section !!!!! */

#cart {
  grid-area: cart;
}