@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bitter&display=swap');

/* !!!!! Variables !!!!! */
:root {
  --bitter-font: 'Bitter', serif;
}


/* !!!!! Global styles !!!!! */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: auto;
  background-color: #99C2A240;
  display: grid;
  grid-template-areas:
    "head head head"
    "nav  search search"
    "store store cart"
    "store store cart"
    "store store cart"
    "store store cart"
    "foot foot foot"
  ;
}

header {
  grid-area: head;
  padding: 25px;
  height: 100%;
  width: 100%;
  background-image: url('./Resources/Images/Duck-Banner2.png');
  opacity: 85%;
  text-align: center;
  font-size: 30px;
  color: white;
  display: flex;
}

#header-img {
  width: 15%;
  display: inline;
  justify-self: left;
}

button {
  background-color: #7A918D;
  color: black;
  border-radius: 10%;
  margin: .3rem 0;
  padding: 1%;
  font-size: small;
  transition: 0.4s;
}

button:hover {
  transform: scale(1.2);

}

.price {
  font-weight: bolder;
}


/* !!!! Nav Links !!!! */
.navbar {
  grid-area: nav;
  display: inline-flex;
  height: 100%;
  justify-content: space-between;
  border-radius: 10px;
  padding-bottom: 10%;
}

.navbar a {
  text-decoration: none;
  padding: 10px 20px;
  border-right: 2px solid #333;
  color: #333;
}

.navbar a:last-child {
  border-right: none;
}

.navbar a:hover {
  background-color: #333;
  color: #fff;
}

/* !!!!! Search bar !!!!! */
#search-bar {
  grid-area: search;
  display: inline-block;
  height: 40%;
  width: 100%;
  text-align: center;
  padding-top: .3rem;
 
}

#search-bar input {
  width: 80%;
  height: 60%;
  font-size: 12px;
  font-family:'Bitter', serif;
  opacity: 80%;
}

#search-bar input:focus {
  opacity: 100%;
}

#search-btn {
  transform: none;
  margin: 0;
  padding: 0;
  
}

/* !!!!! Store section !!!!! */
#store-container {
  grid-area: store;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}


.store-item {
  width: 30%;
  flex: 1 1 auto;
  overflow: hidden;
  text-align: center;
  border: 2px solid gray;
  font-size: larger;
  margin: 0.2%;
}

.store-item img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.item-name {
  font-size: medium;
}


/* !!!!! Cart section !!!!! */

#cart {
  grid-area: cart;
  margin: 3%;
  background-color: #93B1A7;
}



/* !!!!! Footer !!!!! */
footer {
  grid-area: foot;
  text-align: center;
  background-color: #E6BEAE70;
  width: 100%;
}

/* !!!!! Mobile breakpoint !!!!! */

@media only screen and (max-width: 750px) {

  #search-bar {
    padding: 2%;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: .65rem;
  }

  .desktop {
    display: none;
  }

  #search-bar input {
    height: 2rem;
    font-size: large;
  }

  #store-container {
    margin-top: 20%;
    margin-bottom: 5%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  .store-item {
    width: 80%;
    margin: 1%;
    font-size: larger;
  }


  #cart {
    background-color: rgba(46, 138, 199, 0.4);
    z-index: 2;
    position: fixed;
    right: 0;
    top: 40%;
    padding: .5%;
    text-align: right;
  }

  .price,
  .item-name {
    font-size: larger;
  }

  button {
    font-size: larger;
  }

  footer {
    position: fixed;
    bottom: 0;

  }

}
